<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="test" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Users\virtualenv\tonglingBI\Scripts\python.exe|D:\Users\virtualenv\tonglingBI\Lib\site-packages\superset-0.999.0.dev0-py3.6.egg\superset\wfastcgi.py" resourceType="Unspecified" requireAccess="None" />
        </handlers>
		<security> 
        <!-- URL 重写中的特殊字符，比如加号+等等 -->
        <requestFiltering allowDoubleEscaping="true"></requestFiltering> 
    </security> 
    </system.webServer>
	
	<appSettings>
	<!-- Required settings -->
	<add key="WSGI_HANDLER" value="run.app" />
	<add key="PYTHONPATH" value="D:\Users\virtualenv\tonglingBI\Lib\site-packages\superset-0.999.0.dev0-py3.6.egg\superset" />
	    <!-- Optional settings -->
    <!-- 需要先创建日志目录，否则报错 -->
    <add key="WSGI_LOG" value="D:\Users\virtualenv\tonglingBI\Lib\site-packages\superset-0.999.0.dev0-py3.6.egg\superset\oboeqa_web.log" />
    <add key="WSGI_RESTART_FILE_REGEX" value="" />
	</appSettings>
</configuration>
